<footer class="site-footer region wrapper repel">
    <p>&copy; <a href="{{@site.url}}">{{@site.title}}</a> {{date format="YYYY"}}</p>

    {{navigation type="secondary"}}

    <p>Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></p>
</footer>