/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/

body {
    --wrapper-max-width: 1280px;
    --font-body: var(--font-serif);
    --font-heading: var(--font-sans-serif);

    font-family: var(--font-body);
    font-size: var(--type-0);
    margin: 0;
}

:is(h1, h2, h3, h4, h4, h5, h6) {
    font-family: var(--font-heading);
}

h1 {
    font-size: var(--type-3);
}

h2 {
    font-size: var(--type-2);
}

h3 {
    font-size: var(--type-1);
}

h4 {
    font-size: var(--type-0);
}

figcaption {
    font-size: var(--type--1);
    margin-block-start: var(--space-2xs);
    padding: 0 var(--space-s);
    text-align: center;
    text-wrap: balance;
}

:is(video, iframe[src*='youtube'], iframe[src*='vimeo']) {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}