/* Variables
/* ---------------------------------------------------------- */

:root {
    /* Colours */

    /* Tailwind slate palette  */
    --color-slate-950: #020617;
    --color-slate-900: #0f172a;
    --color-slate-800: #1e293b;
    --color-slate-700: #334155;
    --color-slate-600: #475569;
    --color-slate-500: #64748b;
    --color-slate-400: #94a3b8;
    --color-slate-300: #cbd5e1;
    --color-slate-200: #e2e8f0;
    --color-slate-100: #f1f5f9;
    --color-slate-050: #f8fafc;

    --color-primary: var(--ghost-accent-color, #3eb0ef);
    --color-text: var(--color-slate-900);
    --color-border: var(--color-slate-200);
    --color-bg: var(--color-slate-050);
    --color-success: #6ee7b7;
    --color-error: #fca5a5;

    /* Fonts */
    --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-serif: Georgia, Times, serif;
    --font-mono: Menlo, Courier, monospace;

    --font-light: 100;
    --font-normal: 400;
    --font-medium: 500;
    --font-bold: 700;
    --font-heavy: 800;

    /* Leading */
    --leading-flat: 1;
    --leading-fine: 1.2;
    --leading-standard: 1.4;
    --leading-loose: 1.7;

    --measure: 60ch;

    --gutter: var(--space-m);
    --stroke-width: 2px;
    --uppercase-kerning: 0.04ch;

    /* Fluid type scale thanks to Utopia: https://utopia.fyi/type/calculator?c=320,18,1.2,1280,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --type--2: clamp(0.7813rem, 0.775rem + 0.0313vw, 0.8rem);
    --type--1: clamp(0.9375rem, 0.9167rem + 0.1042vw, 1rem);
    --type-0: clamp(1.125rem, 1.0833rem + 0.2083vw, 1.25rem);
    --type-1: clamp(1.35rem, 1.2792rem + 0.3542vw, 1.5625rem);
    --type-2: clamp(1.62rem, 1.509rem + 0.5552vw, 1.9531rem);
    --type-3: clamp(1.944rem, 1.7782rem + 0.829vw, 2.4414rem);
    --type-4: clamp(2.3328rem, 2.0931rem + 1.1983vw, 3.0518rem);
    --type-5: clamp(2.7994rem, 2.4609rem + 1.6922vw, 3.8147rem);

    /* Fluid space scale thanks to Utopia: https://utopia.fyi/space/calculator?c=320,18,1.2,1280,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,l,xl,12 */
    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5417rem + 0.1042vw, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8542rem + 0.1042vw, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0833rem + 0.2083vw, 1.25rem);
    --space-m: clamp(1.6875rem, 1.625rem + 0.3125vw, 1.875rem);
    --space-l: clamp(2.25rem, 2.1667rem + 0.4167vw, 2.5rem);
    --space-xl: clamp(3.375rem, 3.25rem + 0.625vw, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.3333rem + 0.8333vw, 5rem);
    --space-3xl: clamp(6.75rem, 6.5rem + 1.25vw, 7.5rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.3125rem, 0.2083rem + 0.5208vw, 0.625rem);
    --space-2xs-xs: clamp(0.5625rem, 0.4375rem + 0.625vw, 0.9375rem);
    --space-xs-s: clamp(0.875rem, 0.75rem + 0.625vw, 1.25rem);
    --space-s-m: clamp(1.125rem, 0.875rem + 1.25vw, 1.875rem);
    --space-m-l: clamp(1.6875rem, 1.4167rem + 1.3542vw, 2.5rem);
    --space-l-xl: clamp(2.25rem, 1.75rem + 2.5vw, 3.75rem);
    --space-xl-2xl: clamp(3.375rem, 2.8333rem + 2.7083vw, 5rem);
    --space-2xl-3xl: clamp(4.5rem, 3.5rem + 5vw, 7.5rem);

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.5rem;

}