/*

This is a development CSS file that is compiled to a minified
production stylesheet in assets/built/screen.css using: npm run dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Using CUBE CSS methodology: https://cube.fyi */

/* Global styles */
@import "global/reset.css";
@import "global/vars.css";
@import "global/global.css";

/* Compositions */
@import "compositions/canvas.css";
@import "compositions/cluster.css";
@import "compositions/repel.css";
@import "compositions/stack.css";
@import "compositions/wrapper.css";

/* Utilities */
@import "utilities/region.css";

/* Blocks */
@import "blocks/article.css";
@import "blocks/button.css";
@import "blocks/cards.css";
@import "blocks/kg-content.css";
@import "blocks/readmore.css";
@import "blocks/site-header.css";
@import "blocks/site-footer.css";

/* To do… components become blocks, etc. */
@import "components/forms.css";
@import "ghost/members.css";
@import "ghost/errors.css";
@import "ghost/badge.css";
@import "ghost/pagination.css";
@import "ghost/comments.css";



/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

.gh-postfeed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    gap: 4.8vmin 4vmin;
    padding: 8vmin 0;
}

.gh-postfeed > *:first-child {
    grid-column: 1 / -1;
}


/* Index
/* ---------------------------------------------------------- */

/* .gh-card:not(:first-child) {
    margin: 8vmin auto 0;
} */

.gh-card-link {
    display: flex;
    flex-direction: column;
}

.gh-card-image {
    width: 100%;
    /* max-height: 700px; */
    object-fit: cover;
    margin-bottom: 4vmin;
    aspect-ratio: 1 / 1;
}

.gh-card-image:first-of-type {
    aspect-ratio: 16 / 9;
}


.gh-card-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-card-content {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.6rem;
}

.gh-card-content p {
    margin: 1.2rem 0;
    padding: 0 3vmin;
}

.gh-card-content > strong {
    display: inline-block;
    padding: 1px 0;
    font-weight: 500;
    box-shadow: 0 -1px 0 0 inset currentColor;
    opacity: 0.75;
}


/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
    height: 12vmin;
    width: 12vmin;
    margin: 0 auto 1.5em;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.gh-author-meta {
    margin: 2vmin 0 0 0;
    font-size: 1.2em;
}

.gh-author-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-author-links a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
    display: block;
    content: "";
    margin: 0 1.25vmin 0 0;
    height: 1em;
    width: 1px;
    background: rgba(0,0,0,0.3);
    transform: rotate(20deg);
}

@media (max-width: 700px) {
    .gh-author-meta {
        font-size: 1.6rem;
    }
}
