.button {
  --button-bg: var(--color-primary);
  --button-text: var(--color-bg);
  --button-x-padding: 2em;
  --button-y-padding: 1.1em;
  --button-gutter: 0.5ch;

  --button-hover-bg: var(--color-bg);
  --button-hover-color: var(--color-primary);
  --button-focus-color: var(--color-primary);

  --button-border-width: 2px;
  --button-border-style: solid;
  --button-border-color: var(--color-primary);
  --button-radius: 2rem;

  /* Layout and spacing */
  display: inline-flex;
  align-items: center;
  gap: var(--button-gutter);
  padding: var(--button-y-padding) var(--button-x-padding);

  /* Stroke and radius */
  border-width: var(--button-border-width);
  border-style: var(--button-border-style);
  border-color: var(--button-border-color);
  border-radius: var(--button-radius);

  /* Colours */
  background: var(--button-bg);
  color: var(--button-text);

  /* Typography */
  font-family: var(--font-sans-serif);
  letter-spacing: var(--uppercase-kerning);
  line-height: var(--leading-flat);
  text-decoration: none;
  text-transform: uppercase;

  /* Interactive */
  cursor: pointer;
}

.button:hover {
  background: var(--button-hover-bg);
  color: var(--button-hover-color);
}

.button:active {
  transform: scale(99%);
}

/* Variant exceptions */

.button[data-button-variant='ghost'] {
  --button-bg: var(--color-bg);
  --button-text: var(--color-primary);
}

.button[data-button-variant='ghost']:hover {
  --button-hover-bg: var(--color-primary);
  --button-hover-color: var(--color-bg);
}