.kg-width-wide,
.kg-content-wide > div {
    grid-column-start: 2;
    grid-column-end: 5;
}

.kg-width-full {
    grid-column-start: 1;
    grid-column-end: 6;
}

.kg-image-card img {
    height: auto;
    width: 100%;
}

.kg-card-hascaption figcaption {
    max-inline-size: var(--measure, 67ch);
    margin-inline: auto;
}