.site-header {
  --wrapper-max-width: 1280px;
  
  font-size: var(--type--1);
  font-weight: var(--font-bold);
  line-height: var(--leading-flat);
  padding-block-start: var(--space-m);
}

.site-header .repel {
  --gutter: var(--space-l);
}

.site-header__brand {
  flex-basis: content;
  flex-grow: 1;
}

.site-header a:not(:hover) {
  text-decoration: none;
}

.site-header a.signin {
  color: var(--color-primary);
}

.site-header__actions {
  --gutter: var(--space-s);
}