.site-footer {
	--region-space: var(--space-3xl);
	--gutter: var(--space-m);
	
	font-size: var(--type--1);
	font-weight: var(--font-bold);
	line-height: var(--leading-flat);
}

.site-footer a:not(:hover) {
  text-decoration: none;
}