.site-footer {
	--wrapper-max-width: 1280px;
	--gutter: var(--space-m);
	
	font-size: var(--type--1);
	font-weight: var(--font-bold);
	line-height: var(--leading-flat);
	padding-block-end: var(--space-3xl);
}

.site-footer a:not(:hover) {
  text-decoration: none;
}